body{
  background-image: url('coolors.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

h1{
  color:white;
  font-family: "unibody-8-new", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p{
  color:white;
  font-size:30px;
  font-family: "cofo-sans-pixel", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.words{
  text-align:center;
  margin-top:30px;
}

.footer {
  text-align: center;
  padding: 10px 10px 10px 10px;
  margin-top:20px;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(15px); /* Adjust the blur intensity */
}

footer .copyright {
  font-size: 0.9rem;
  color: white;
  margin-top: 0px;
}

.glow-btn {
  padding: 12px 28px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: #6d1818;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 0 0 rgba(88, 101, 242, 0);
}

.glow-btn:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgb(109, 24, 24, 0.9);
}

.spin {
  animation: spin 5s ease-in-out;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(720deg);
  }
}


