body{
    background-image: url('coolors.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

h1{
    color:white;
}

p{
    color:white;
    font-size:30px;
}
.words{
  text-align:center;
  margin-top:130px;
}

.bcolor{
  background-color:#226F54;
  color:white;
  transform: translate(0%, 210%);
}

.backcircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 300px;
  height: 300px;
  background-color: #F2D0A4;
  border-radius: 50%;
}

.innercricle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -64%);
    width: 250px;
    height: 250px;
    background-color: #FFECCC;
    border-radius: 50%;
}

.triangle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -95%) rotate(60deg);
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-bottom: 140px solid #A4303F;
}

.footer {
  text-align: center;
  padding: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(15px); /* Adjust the blur intensity */
}

footer .copyright {
  font-size: 0.9rem;
  color: white;
  margin-top: 0px;
}