body{
    background-image: url('coolors.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 
}

h1{
    color:white;
}

p{
    color:white;
    font-size:30px;
}
.words{
  text-align:center;
  margin-top:130px;
}

.footer {
  text-align: center;
  padding: 10px 10px 10px 10px;
  background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent background */
  backdrop-filter: blur(15px); /* Adjust the blur intensity */
}

footer .copyright {
  font-size: 0.9rem;
  color: white;
  margin-top: 0px;
}
